body{
    background-color: #7ae094;
}
.animation{
    position: relative;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    word-spacing: 2px;
    font-size: 70px;
    margin-top: 300px;
    margin-right: 300px;
    margin-left: 300px;
    border-radius: 20px;
    animation-name: birthday;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes birthday{
    0% {
        background-color: blue;
        /* left:0;
        top:0;     */
    }
    50%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}